{% extends "base.html" %} 
{% block title %}Albums{% endblock %}
{% block content %}
<div class="content">
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="purple">
                        <h3 class="title">Albums</h3>
                    </div>
            	</div>
        	</div>
    	</div>

        <div class="row">
            <div class="col-sm-11 col-sm-offset-1 hid">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-4 text-center">
                        <div class="pagination">
                            <span class="step-links">
                            <center>
                                {% if albums.has_previous %}
                                <a href="?page={{ albums.previous_page_number }}"><i class="material-icons">keyboard_arrow_left</i></a>
                                {% endif %}

                                {% if albums.has_next %}
                                <a href="?page={{ albums.next_page_number }}"><i class="material-icons">keyboard_arrow_right</i></a>
                                {% endif %}
                            </center>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="row">
		{% for album in albums %}
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header" data-background-color="purple">
					<i class="material-icons">disc_full</i>
				</div>
				<div class="card-content">
					<p class="category">{{album.title}}</p>
                </div>
                <div class="card-content">

                    <h3 class="title">{{album.artistid.name}}</h3>
                </div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">expand_more</i> <a href="{% url 'album_by_artist' album.pk %}">Explore...</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block js %}

{% endblock %}