{% extends "base.html" %} 
{% block title %}Genres{% endblock %}
{% block content %}
<div class="content">
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="purple">
                        <h3 class="title">Genres</h3>
                    </div>
            	</div>
        	</div>
    	</div>


        <div class="row">
            <div class="col-sm-11 col-sm-offset-1 hid">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-4 text-center">
                        <div class="pagination">
                            <span class="step-links">
                            <center>
                                {% if generos.has_previous %}
                                <a href="?page={{ generos.previous_page_number }}"><i class="material-icons">keyboard_arrow_left</i></a>
                                {% endif %}
                                <!--span class="current">
                                Page {{ generos.number }} of {{ generos.paginator.num_pages }}.
                                </span-->
                                {% if generos.has_next %}
                                <a href="?page={{ generos.next_page_number }}"><i class="material-icons">keyboard_arrow_right</i></a>
                                {% endif %}
                            </center>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="row">
		{% for genero in generos %}
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header" data-background-color="purple">
					<i class="material-icons">queue_music</i>
				</div>
				<div class="card-content">
					<p class="category">{{genero.name}}</p>
					
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">expand_more</i> <a href="{% url 'track_by_genres' genero.genreid %}">Explore...</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block js %}

{% endblock %}