{% extends "base.html" %} 
{% block title %}Genres{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        {% if not generos and not tracks and not albums and not playlists %}

        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="purple">
                        <h3 class="title">No se encontraron resultados</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1 hid">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-1 text-center">
                        <div class="pagination">
                            <span class="step-links">
                            <center>
                            <h1>Intenta con otra palabra clave, seguro encontrarás lo que buscas ;-)</h1>
                            </center>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% else %}

        {% if generos %}
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="purple">
                        <h3 class="title">Genres</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-11 col-sm-offset-1 hid">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-4 text-center">
                        <div class="pagination">
                            <span class="step-links">
                            <center>
                                {% if generos.has_previous %}
                                <a href="?page={{ generos.previous_page_number }}"><i class="material-icons">keyboard_arrow_left</i></a>
                                {% endif %}

                                {% if generos.has_next %}
                                <a href="?page={{ generos.next_page_number }}"><i class="material-icons">keyboard_arrow_right</i></a>
                                {% endif %}
                            </center>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        {% for genero in generos %}
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="purple">
                    <i class="material-icons">queue_music</i>
                </div>
                <div class="card-content">
                    <p class="category">{{genero.name}}</p>
                    
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">expand_more</i> <a href="{% url 'track_by_genres' genero.genreid.pk %}">Explore...</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        {% endif %}

        {% if tracks %}
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="purple">
                        <h3 class="title">Tracks</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        {% for track in tracks %}
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="purple">
                    <i class="material-icons">queue_music</i>
                </div>
                <div class="card-content">
                    <p class="category">{{track.name}}</p>
                    
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">expand_more</i> <a href="{% url 'track_by_genres' track.genreid.pk %}">Explore...</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        {% endif %}

        {% if albums %}
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="purple">
                        <h3 class="title">Albums</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        {% for album in albums %}
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="purple">
                    <i class="material-icons">queue_music</i>
                </div>
                <div class="card-content">
                    <p class="category">{{album.title}}</p>
                    
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">expand_more</i> <a href="{% url 'track_by_genres' album.genreid.pk %}">Explore...</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        {% endif %}



        {% if playlists %}
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="purple">
                        <h3 class="title">Playlist</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        {% for playlist in playlists %}
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="purple">
                    <i class="material-icons">queue_music</i>
                </div>
                <div class="card-content">
                    <p class="category">{{playlist.name}}</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">expand_more</i> <a href="{% url 'track_by_genres' playlist.genreid.pk %}">Explore...</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        {% endif %}

{% endif %}

    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}