{% extends "base.html" %} 
{% block title %}Genres - {{tracks.0.genreid.name}}{% endblock %}
{% load mathfilters %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="purple">
                        <h3 class="title">Genre - {{tracks.0.genreid.name}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        <div class="row">

        </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-chart" data-background-color="green">
                                    <div class="ct-chart" id="emailsSubscriptionChart"></div>
                                </div>
                                <div class="card-content">
                                    <h4 class="title">Average song length (minutes)</h4>
                                    <p class="category">Average song length of each artist in this genre</p>
                                </div>
                                <div class="card-footer">
<!--                                     <div class="stats">
                                        <i class="material-icons">access_time</i> campaign sent 2 days ago
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Tracks</h4>
                                    <p class="category">With the biggest hits of the genre of {{tracks.0.genreid.name}}</p>
                                </div>


                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                            <th>Track Name</th>
                                            <th>Artist Name</th>
                                            <th>Album</th>
                                            <th>Track duration</th>
                                        </thead>
                                        <tbody>
                                            {% for track in tracks %}
                                            <tr>
                                                <td>{{track.name}}</td>
                                                <td><a href="{% url 'track_by_artist' track.albumid.artistid.pk %}">{{track.albumid.artistid.name}}</a></td>
                                                <td><a href="{% url 'album_by_artist' track.albumid.pk %}">
                                                {{track.albumid.title}}</a></td>
                                                <td class="track_duration text-primary">  {{ track.milliseconds }}</td>
                                            </tr>
                                            {% endfor %}
                                              <div class="row">
                                                    <div class="col-sm-11 col-sm-offset-1 hid">
                                                        <div class="row">
                                                            <div class="col-sm-3 col-sm-offset-4 text-center">
                                                                <div class="pagination">
                                                                    <span class="step-links">
                                                                    <center>
                                                                        {% if tracks.has_previous %}
                                                                        <a href="?page={{ tracks.previous_page_number }}"><i class="material-icons">keyboard_arrow_left</i></a>
                                                                        {% endif %}
                                                                            <!--
                                                                                {% for i in tracks.paginator.page_range %}
                                                                                  {% if tracks.number == i %}
                                                                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                                                                  {% else %}
                                                                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                                                  {% endif %}
                                                                                {% endfor %}
                                                                            -->
                                                                        {% if tracks.has_next %}
                                                                        <a href="?page={{ tracks.next_page_number }}"><i class="material-icons">keyboard_arrow_right</i></a>
                                                                        {% endif %}
                                                                    </center>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
        </div>

    </div>
</div>





{% endblock %}

{% block js %}

<script>
$(document).ready(function(){

    $('.track_duration').each(function(k,v){
    var time = '';    
    time = $(this).text();
    
    $(this).text(msToTime(time));
    });


console.log($("g"));
//vertical_words();

});





type = ['','info','success','warning','danger'];


demo = {
    initPickColor: function(){
        $('.pick-class-label').click(function(){
            var new_class = $(this).attr('new-class');
            var old_class = $('#display-buttons').attr('data-class');
            var display_div = $('#display-buttons');
            if(display_div.length) {
            var display_buttons = display_div.find('.btn');
            display_buttons.removeClass(old_class);
            display_buttons.addClass(new_class);
            display_div.attr('data-class', new_class);
            }
        });
    },

    initFormExtendedDatetimepickers: function(){
        $('.datetimepicker').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
         });
    },

    initDashboardPageCharts: function(){
        /* ----------==========     Emails Subscription Chart initialization    ==========---------- */
        var dataEmailsSubscriptionChart = {
          labels: [{% for average in averages %}'<p data-tooltip="{{average.name}}"><span class="texto-vertical">{{average.name|truncatechars:6}}</span></p>',{% endfor %}],
          series: [
            [{% for average in averages %}{{average.milliseconds|intdiv:60000|floatformat:0}},{% endfor %}]

          ]
        };
        var optionsEmailsSubscriptionChart = {
            axisX: {
                showGrid: true
            },
            low: 0,
            high: {{max_milliseconds.milliseconds__max|add:60000|intdiv:60000|floatformat:"0"}},
            //high: 500,
            chartPadding: { top: 0, right: 5, bottom: 20, left: 2}
        };
        var responsiveOptions = [
          ['screen and (max-width: 640px)', {
            seriesBarDistance: 5,
            axisX: {
              labelInterpolationFnc: function (value) {
                return value[0];
              }
            }
          }]
        ];
        var emailsSubscriptionChart = Chartist.Bar('#emailsSubscriptionChart', dataEmailsSubscriptionChart, optionsEmailsSubscriptionChart, responsiveOptions);

        //start animation for the Emails Subscription Chart
        md.startAnimationForBarChart(emailsSubscriptionChart);
    },
}



</script>



{% endblock %}