{% extends "base.html" %} 
{% block title %}Artists - {{tracks.0.albumid.artistid.name}}{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="purple">
                        <h3 class="title">Artist - {{tracks.0.albumid.artistid.name}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="row">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Tracks</h4>
                            <p class="category">With the best of {{tracks.0.albumid.artistid.name}}</p>
                        </div>


                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>Track Name</th>
                                    <th>Artist Name</th>
                                    <th>Album</th>
                                    <th>Track duration</th>
                                </thead>
                                <tbody>
                                    {% for track in tracks %}
                                    <tr>
                                        <td>{{track.name}}</td>
                                        <td>{{track.albumid.artistid.name}}</td>
                                        <td><a href="{% url 'album_by_artist' track.albumid.pk %}">{{track.albumid.title}}</a></td>
                                        <td class="track_duration text-primary">  {{ track.milliseconds }}</td>
                                    </tr>
                                    {% endfor %}
                                      <div class="row">
                                            <div class="col-sm-11 col-sm-offset-1 hid">
                                                <div class="row">
                                                    <div class="col-sm-3 col-sm-offset-4 text-center">
                                                        <div class="pagination">
                                                            <span class="step-links">
                                                            <center>
                                                                {% if tracks.has_previous %}
                                                                <a href="?page={{ tracks.previous_page_number }}"><i class="material-icons">keyboard_arrow_left</i></a>
                                                                {% endif %}
                                                                    <!--
                                                                        {% for i in tracks.paginator.page_range %}
                                                                          {% if tracks.number == i %}
                                                                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                                                          {% else %}
                                                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                                          {% endif %}
                                                                        {% endfor %}
                                                                    -->
                                                                {% if tracks.has_next %}
                                                                <a href="?page={{ tracks.next_page_number }}"><i class="material-icons">keyboard_arrow_right</i></a>
                                                                {% endif %}
                                                            </center>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header" data-background-color="orange">
                            <h4 class="title">Albums</h4>
                            <p class="category">By {{tracks.0.albumid.artistid.name}}</p>
                        </div>


                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>By</th>
                                    <th>Album Title</th>
                                </thead>
                                <tbody>
                                    {% for album in albums %}
                                    <tr>
                                        <td>{{album.artistid.name}}</td>
                                        <td><a href="{% url 'album_by_artist' album.pk %}">{{album.title}}</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


        </div>

    </div>
</div>





{% endblock %}

{% block js %}

<script>
$(document).ready(function() {

    $('.track_duration').each(function(k,v){
    var time = '';    
    time = $(this).text();
    
    $(this).text(msToTime(time));
    });



});

</script>



{% endblock %}