<!doctype html>
<html lang="en">
<head>
{% load static %}
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{% block title %}.:: Music JG ::.{% endblock %}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="{% static 'css/material-dashboard.css' %}" rel="stylesheet"/>


    <!--  Own CSS Styles  -->
    <link href="{% static 'css/own_styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tooltips.css' %}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'css/demo.css' %}" rel="stylesheet" />

    <!--  CSS for Slider     -->
    <!--link href="{% static 'css/contentStyle.css' %}" rel="stylesheet" /-->


    <!--     Fonts and icons     -->
    <!--link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'-->

    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/Icons.css' %}" rel='stylesheet' type='text/css'>


<style>
/*
.contenido:before{
  content: "";
  position: fixed;
  left: 0;
  top: -10;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url('/home/jgalindez/public_html/espania/FullStack/insumos/1600x900_Plus_Dizorb_HD_Wallpaper.jpg');
  background-size: cover;
  min-height: 150px;
  min-width: 1200px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}*/
.logo_inventor{
  width: 80px;
  height: 80px;
  padding-left: 100px;
  background-image: url({% static 'img/el_inventor_logo.png' %});
  background-size: cover;
}
</style>


{% block estilos %}   
{% endblock %}

</head>
<body>
  <div class="wrapper">

      <div id="side_menu" class="sidebar" data-color="purple" data-image="{% static 'img/sidebar-1.jpg' %}">
        {% include "menu.html" %}
      </div>

<div class="main-panel">
<nav class="contenido navbar navbar-transparent navbar-absolute" style="min-height: 200px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <div class="logo_inventor">
        </div>

      </a>
    </div>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right" role="search" method="POST" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="form-group  is-empty">
                    <input type="text" class="form-control" name="busqueda" placeholder="Search" autocomplete="off">
                    <span class="material-input"></span>
                </div>
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i><div class="ripple-container"></div>
                </button>
            </form>
        </div>
  </div>
</nav>

{% block content %}{% endblock %}




<!--el footer-->
{% include "footer.html" %}
    </div>
  </div>
</body>

  <!--   Core JS Files   -->
  <script src="{% static 'js/jquery-3.1.0.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/material.min.js' %}" type="text/javascript"></script>

  <!--  Charts Plugin -->
  <script src="{% static 'js/chartist.min.js' %}"></script>

  <!--  Notifications Plugin    -->
  <script src="{% static 'js/bootstrap-notify.js' %}"></script>

  <!--  Google Maps Plugin    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <!-- Material Dashboard javascript methods -->
  <script src="{% static 'js/material-dashboard.js' %}"></script>

  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'js/demo.js' %}"></script>

  <!--  Utils own libs -->
  <script src="{% static 'js/libs.js' %}"></script>

  <script type="text/javascript">
      $(document).ready(function(){

      // Javascript method's body can be found in assets/js/demos.js
          demo.initDashboardPageCharts();
          $('#side_menu').attr('data-color', "{% block color_theme %}{% endblock %}");

      });
  </script>

  <script src="{% static 'js/contentSliderScript.js' %}"></script>
{% block js %}
{% endblock %}




</html>
