      {% load menu %}
      <div class="logo">
        <a href="{% url 'genres' %}" class="simple-text">
          Music JG
        </a>
      </div>

        <div class="sidebar-wrapper">
              <ul class="nav">
                  <li class="{{ request|menu_activo:'genres' }} ">
                      <a href="{% url 'genres' %}">
                          <i class="material-icons ">queue_music</i>
                          <p>Genre</p>
                      </a>
                  </li>

                  <li class="{{ request|menu_activo:'albums' }} ">
                      <a href="{% url 'albums' %}">
                          <i class="material-icons">disc_full</i>
                          <p>Albums</p>
                      </a>
                  </li>
                  <li class="{{ request|menu_activo:'artists' }} ">
                      <a href="{% url 'artists' %}">
                          <i class="material-icons">face</i>
                          <p>Artists</p>
                      </a>
                  </li>
                  <li class="{{ request|menu_activo:'playlist' }} ">
                      <a href="{% url 'playlist' %}">
                          <i class="material-icons">favorites</i>
                          <p>PlayLists</p>
                      </a>
                  </li>

              </ul>
        </div>